<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ru"><head>
    <title>durkach</title>
    <meta name="yandex-verification" content="3caf62e1aa2909e7" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" th:href="@{/files/favicon.png}">
    <link rel="stylesheet" th:href="@{${cssfiles}+'/index.css'}">
    <link rel="stylesheet nofollow" th:href="${cssfiles}+'/textformat.css'">
</head>
<body>
    <img src="files/logo.png" alt="here must be logo ¯\_(ツ)_/¯" width="90%" height="90%" class="imglogo"> <!--896px 521px-->
    <br>
    <span class="All-title">Дуркач</span>
    <br><br>
    <span class="main-description">Дуркач - анонимный форум для свободного общения, без аккаунтов, рейтингов, регистрации и смс.
        Если вы здесь впервые, то вот, что можно сделать: посетить доску с конкретной тематикой, где сможете пообщаться в компании единомышленников и посмотреть
        тематический контент; посетить общую доску (<a href="b" style="font-weight: bold;color: #3dff00;text-decoration: none">/b</a> ), если хотите поговорить на общие темы с минимумом ограничений.
        Важно помнить, что анонимность не освобождает от соблюдения местных правил, поэтому перед постингом рекомендуется ознакомиться с ними.</span>
    <br><br>
    <p class="main_theme">Палаты</p>
    <div class="links">
        <span th:each="bord:${bordlist}" style="margin-bottom: 3px;display: block">
            <a th:href="${bord.name}" th:text="${bord.name}+' - '+${bord.displayedname}" th:title="${bord.description}" ></a>
            <br>
        </span>
    <br>
    </div>

<div class="underpage-content">
        work in progress...
        <br>
        <span>
        Содержимое сайта предназначено для 18+ пользователей. Администрация сайта не несёт ответственности за размещаемый контент.
        За размещённую информацию личную ответственность несёт лицо, разместившее эту информацию на странице. Все права и копирайты принадлежат правообладателям.
        Все сообщения принадлежат отправителям. <a href="/rules">Правила</a>
    </span>
    </div>
</body></html>
