<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" th:href="@{/files/favicon.png}">
    <link rel="stylesheet nofollow" th:href="@{${cssfiles}+'/adminlogin.css'}">
</head>
<body>

<div class="loginform">
    <h2>Login</h2>
<form th:action="@{/adminlogin}" method="post">
    <div>
       <p> <label for="username">Username:</label></p>
        <p><input type="text" id="username" name="username" required></p>
        <p><label for="password">Password:</label></p>
        <p><input type="password" id="password" name="password" required></p>
    </div>
    <br>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
</div>

</body>
</html>
