<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Правила</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image" th:href="@{/files/favicon.png}">
    <link rel="stylesheet nofollow" th:href="${cssfiles}+'/rules.css'">
</head>
<body>
<div class="rules-header">
    <p>ПРАВИЛА</p>
</div>
<div class="rules-content">
    ВНИМАНИЕ! Сайт задумавался как студенческий проект и не претендует на серьёзность. При использовании вы можете столкнуться с различными проблемами. Можете сообщить
    о них администрации.
    <br><br>
    <span style="width: 70%">
    durkach.su - анонимный имейджборд, предназначенный для свободного общения. Но, хоть и общение свободное, есть некоторые ограничения, позволяющие избежать проблем пользователям
    и владельцу сайта. Коротко о модерации и ограничениях для досок:
        </span>
    <ul style="text-align: left;width: 46%;list-style-type: none">
    <li><span style="font-weight: bold;color: #3dff00;">/b</span> - минимальная модерация, соблюдение только общих правил;</li>
   <li><span style="font-weight: bold;color: #3dff00;">/d</span> - полная модерация, постинг только в рамках правил доски;</li>
    <li><span style="font-weight: bold;color: #3dff00;">Тематические доски</span> - модерация на усмотрение модераторов доски, доски могут иметь свои правила, в ином случае допускается постинг с
    с небольшим отклонением от тематики доски;</li>
    </ul>
    <span style="text-decoration: underline;text-decoration-color: #047521;">Теперь <span style="font-weight: bold;color: #3dff00;">общие</span> положения:</span>
        <ul style="width:46%;text-align: left;list-style-type: none">
            <li>1. Отправляя пост, вы подтвержаете согласие на хранение вашего ip-адреса на сервере. Если данное положение вас не устраивает,
            вы можете анонимно пользоваться сайтом без функций постинга</li>
            <li>2. Треды и посты, нарушающие правила, могут быть удалены модерацией без предупреждения</li>
            <li>3. За нарушение <span style="font-weight: bold">любого</span> правила пользователь может быть забанен без объяснения причин на любой предусмотренный модератором срок</li>
            <li>4. Бан можно обжаловать в специальном треде в <span style="font-weight: bold;color: #3dff00">/d</span></li>
            <li>5. Администрация вправе удалить любой контент</li>
            <li>6. Собираемые данные не предоставляются третьим лицам, но могут быть предоставлены правоохранительным органам в случае нарушения законов РФ</li>
            <li>7. Если вы столкнулись с проблемой при использовании сайта, вы можете написать об этом в специальном треде в
                <span style="font-weight: bold;color: #3dff00">/d</span>. Администрация сайта будет вам благодарна</li>
            <li>8. Если есть желание поддержать проект, можете задонатить любую сумму <a href="https://www.donationalerts.com/r/mistdiamond" style="text-decoration: none;color:#3dff00">здесь</a> .
                Все полученные средства пойдут на улучшение оборудования и качества сайта, а также послужат дополнительной мотивацией разработчику на дальнейшее развитие сайта.
                Поддержавшие будут указаны в специальном треде в /d, если напишут об этом в донате.</li>
        </ul>
    <br>
    <span style="text-decoration: underline;text-decoration-color: #047521;">Запрещено:</span>
    <ul style="width:46%;text-align: left;list-style-type: none">
        <li>1. Любой контент, нарушающий законы и конституцию Российской Федерации (РФ)</li>
        <li>2. Контент, содержащий терроризм, призывы к терроризму, экстремизм, призывы к экстремизму</li>
        <li>3. Контент, содержащий детскую порнографию и её имитацию в любом виде</li>
        <li>4. Обсуждение наркотиков, распространение наркотиков</li>
        <li>5. Обсуждение суицида, способов суицида, призывы к суициду</li>
        <li>6. Травля, преследование, деанонимизация, публикация чужих персональных данных не рекомендуются к постингу</li>
        <li>7. Необоснованные или ложные жалобы на контент</li>
        <li>8. Спам, использование сторонних программ для постинга или создания тредов</li>
        <li>9. Обход бана любым способом</li>
        <li>10. Попытки взлома учетной записи администратора, получения доступа к данным сервера, внедрение вредоносного кода в страницу</li>
        <li>11. Постинг некоторого контента вне определённых тематических досок (здесь будет список неугодного контента и досок для него)</li>
    </ul>
    <span style="width: 70%">Помните, что нарушение некоторых пунктов из списка выше может привести не только к ограничению вам доступа к ресурсу или возможностям на нём, но и
        к проблемам с правоохранительными органами РФ. Администрация сайта не станет скрывать ваши данные от правоохранительных органов в случае нарушения законов
        Российской Федерации. Всегда думайте головой где и что вы пишете, не создавайте проблем себе и другим.
    </span>
    <br>
</div>
</body>
</html>